<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- static 스타일 시트 -->
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>

    <!-- js Cookie -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
    <!--  부트스트랩  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.min.css">
    <title>Trello Board</title>
</head>
<body>
<!-- Masthead -->
<header class="masthead">

    <div class="boards-menu">

        <!--  offcanvas  -->
        <button class="boards-btn btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
                aria-controls="offcanvasScrolling"><i class="fab fa-trello boards-btn-icon"></i>Boards
        </button>

        <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
             id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasScrollingLabel">My boards</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="list-group list-group-flush" id="boardListUl">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
            <div>
                <div class="board-buttons" id="board-buttons-button">
                    <!-- 모달을 위한 HTML -->
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">×</span>
                            <input type="text" id="boardTitle" placeholder="Enter board title">
                            <input type="text" id="boardDescription" placeholder="Enter board description">
                            <button id="saveBoard">Save</button>
                        </div>
                    </div>
                    <!-- 모달을 호출하는 버튼 -->
                    <button id="createBoard">생성</button>

                    <button class="board-delete-button"><i class="bi bi-trash"></i>삭제</button>
                </div>
            </div>
        </div>
        <!--  End of offcanvas  -->
    </div>

    <div class="logo">
        <h1><i class="fab fa-trello logo-icon" aria-hidden="true"></i>Tenrello</h1>
    </div>
    <div>
        <button id="addList">Add List</button>
    </div>

    <div class="user-settings">

        <button class="user-settings-btn btn" aria-label="Create" id="move-mypage">
            <i class="fas fa-plus" aria-hidden="true">마이</i>
        </button>

        <button class="user-settings-btn btn" aria-label="Information" id="logout">
            <i class="fas fa-info-circle" aria-hidden="true">아웃</i>
        </button>

        <button class="user-settings-btn btn" aria-label="Notifications">
            <i class="fas fa-bell" aria-hidden="true"></i>
        </button>

        <button class="user-settings-btn btn" aria-label="User Settings">
            <i class="fas fa-user-circle" aria-hidden="true"></i>
        </button>

    </div>

</header>
<!-- End of masthead -->

<!-- Board modal -->
<div class="modal-board" style="display: none">
    <div id="board">
        <div class="list-container" id="listContainer">
            <div class="list" id="firstList" draggable="true">
                <div class="list-header">List 1</div>
                <div class="card" draggable="true">Card 1</div>
                <div class="card" draggable="true">Card 2</div>
            </div>
            <div class="list" draggable="true">
                <div class="list-header">List 2</div>
                <div class="card" draggable="true">Card 3</div>
                <div class="card" draggable="true">Card 4</div>
            </div>
            <!-- Add more lists here -->
        </div>
    </div>
</div>

<script src="/js/index.js"></script>

<script>
    // 마이페이지 이동
    const mypageBtn = document.getElementById("move-mypage");
    mypageBtn.addEventListener("click", function () {
        window.location.href = "/view/mypage";
    })

    // 로그아웃
    const logoutBtn = document.getElementById("logout");
    logoutBtn.addEventListener("click", logout);

    // board 생성
    document.addEventListener("DOMContentLoaded", function () {
        const modal = document.getElementById('myModal');
        const createButton = document.getElementById('createBoard');
        const saveButton = document.getElementById('saveBoard');
        const closeButton = document.getElementsByClassName('close')[0];

        createButton.addEventListener('click', () => {
            modal.style.display = 'block';
        });

        closeButton.addEventListener('click', () => {
            modal.style.display = 'none';
        });

        saveButton.addEventListener('click', () => {
            const boardTitle = document.getElementById('boardTitle').value;
            const boardDescription = document.getElementById('boardDescription').value;

            if (boardTitle) {
                const boardData = {
                    title: boardTitle,
                    description: boardDescription,
                };

                saveBoardToDatabase(boardData);
            }

            modal.style.display = 'none';
        });

        function saveBoardToDatabase(boardData) {
            fetch('/api/boards', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(boardData),
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Created board:', data);
                    // Perform any further actions based on the response
                })
                .catch(error => {
                    console.error('Error creating board:', error);
                });
        }
    });

    $(document).ready(function () {

        // 내가 속한 보드 리스트 가져오기
        $.ajax({
            url: 'http://localhost:8080/api/boards/include',
            type: 'GET',
            contentType: 'application/json',
            headers: {
                'Authorization': document.cookie // 클라이언트 쿠키의 값을 전달
            },
            success: function (response) {
                console.log(response);
                let temp_htmls = '';
                $('#boardListUl').empty();

                response.forEach((a) => {
                    let boardName = a['title'];
                    let boardId = a['boardId'];

                    let temp_html = `
                        <li class="list-group-item" id="${boardId}">${boardName}</li>
                    `;

                    temp_htmls += temp_html;
                });
                console.log('forEach문 끝');
                $('#boardListUl').append(temp_htmls);
            },
            error: function () {
                console.log('AJAX 요청 실패');
            }
        });
    })

    const modalBoard = document.querySelector(".modal-board");

    // 보드 리스트에서 보드 선택
    $(document).on("click", ".list-group-item", function () {
        var clickedBoardId = $(this).attr('id');
        var clickedBoardName = $(this).text();

        console.log('Clicked Board ID:', clickedBoardId);
        console.log('Clicked Board Name:', clickedBoardName);

        $.ajax({
            url: 'http://localhost:8080/api/boards/' + clickedBoardId + '/columns',
            type: 'GET',
            contentType: 'application/json',
            headers: {
                'Authorization': document.cookie // 클라이언트 쿠키의 값을 전달
            },
            success: function (response) {
                console.log(response);
                let temp_htmls = '';
                $('#listContainer').empty();

                response.forEach((a) => {
                    let columnId = a['id'];
                    let columnTitle = a['title'];


                    let temp_html = `
                        <div class="list" id="${columnId}" draggable="true">
                            <div class="list-header">${columnTitle}
                                   <button onclick="DeleteColumnBtn(${columnId})" style="float: right; margin-right: 5px;" class="bi bi-trash3 fs-20"></button>
                                   <button onclick="modifyColumnBtn(${columnId})" style="float: right; margin-right: 5px;" class="bi bi-pencil fs-20"></button>
                            </div>

                            <div class="card" draggable="true">Card 1</div>
                            <div class="card" draggable="true">Card 2</div>
                        </div>
                    `;

                    temp_htmls += temp_html;
                });
                console.log('forEach문 끝');
                $('#listContainer').append(temp_htmls);
            },
            error: function () {
                console.log('AJAX 요청 실패');
            }
        });

        modalBoard.style.display = "block";
    })

</script>
</body>
</html>